@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .primary-btn {
    @apply h-[61px] bg-kl-greige px-[30px] py-4 font-riviera-bold text-base leading-[140%] text-kl-melon-seed md:py-5;
  }

  .secondary-btn {
    @apply bg-kl-black px-[42px] py-4 font-jakarta text-base font-medium leading-[140%] text-white md:py-5;
  }

  .transparent-btn {
    @apply bg-transparent px-[42px] py-4 font-riviera-bold text-base font-bold leading-[140%] text-white md:py-5;
  }

  .default-transition {
    @apply transition-all duration-500 ease-in-out;
  }

  .section-heading {
    @apply mt-3 font-riviera-medium text-5xl leading-[120%];
  }

  .section-description {
    @apply mt-8 font-jakarta text-base;
  }

  .main-headings {
    @apply font-riviera-medium text-[30px] leading-[130%] text-[#2A2B2A] sm:text-[35px];
  }

  .our-product {
    @apply absolute bottom-[22px] font-riviera-medium text-[20px] leading-[120%] text-[#FCFCFA] sm:text-[24px];
  }

  .advantage-section-heading {
    @apply font-riviera-medium text-xl leading-[120%] text-black sm:text-2xl;
  }

  .advantage-section {
    @apply font-jakarta text-sm font-normal leading-[170%] text-black;
  }

  .real-experience {
    @apply max-w-[469px] font-riviera-regular text-lg font-normal leading-[150%] text-black md:text-3xl;
  }

  .showcase-tags {
    @apply absolute bottom-6 left-4 font-jakarta text-sm font-medium leading-[120%] text-white;
  }

  .blog-title {
    @apply font-riviera-medium text-base font-medium leading-[120%] text-black lg:text-[24px];
  }

  .footer-links {
    @apply flex flex-col space-y-2 font-jakarta text-sm font-normal leading-[170%];
  }
}

@layer productCard {
  .product-card {
    @apply relative w-[95%] max-w-default lg:h-[660px] lg:p-0 lg:px-2 xl:w-[100%];
  }

  .left-image {
    @apply -z-10 lg:absolute lg:left-0 lg:w-[74%];
  }

  .right-container {
    @apply relative bottom-0 right-0 z-10 max-h-[620px] bg-kl-greige p-10 lg:absolute lg:w-[560px] lg:px-16 lg:pt-[74px];
  }

  .stripe-purple {
    @apply before:absolute before:bottom-0 before:left-0 before:h-2 before:w-full before:bg-kl-purple;
  }

  .stripe-olive {
    @apply before:absolute before:bottom-0 before:left-0 before:h-2 before:w-full before:bg-kl-olive;
  }

  .stripe-copper {
    @apply before:absolute before:bottom-0 before:left-0 before:h-2 before:w-full before:bg-kl-cooper;
  }

  .thumbnail {
    @apply h-12 w-12 rounded-full;
  }

  .thumbnail-outline {
    @apply h-12 w-12 rounded-full outline outline-[0.75px];
  }
}

@font-face {
  font-family: RivieraNightsTrialBlack;
  src: url("/fonts/RivieraNightsTrial-Black.otf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: RivieraNightsTrialBold;
  src: url("/fonts/RivieraNightsTrial-Bold.otf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: RivieraNightsTrialLight;
  src: url("/fonts/RivieraNightsTrial-Ultralight.otf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: RivieraNightsTrialMedium;
  src: url("/fonts/RivieraNightsTrial-Medium.otf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: RivieraNightsTrialRegular;
  src: url("/fonts/RivieraNightsTrial-Regular.otf");
  font-display: swap;
  font-style: normal;
}

.Hero-bg::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-image: url("/images/hero-bg-image.webp");
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
}

/* SIDEBAR STYLE  */
#sidebar {
  position: fixed;
  left: -300px;
  width: 280px;
  height: 100vh;
  top: 0px;
  background-color: black;
  overflow-y: auto;
  transition: all ease-in-out 0.4s;
}

.translate-x-full#sidebar {
  left: 0px;
}

/* SWIPER STYLE  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev:after {
  opacity: 0;
  width: 0;
}

.swiper-button-next:after {
  width: 0;
  opacity: 0;
}

.swiper-button-disabled {
  background-color: lightgray;
}

@media (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(0%);
    z-index: 2;
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(0%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
